html {
	background-color: #29DCCA;
}

#title {
	font-family: Brush Script MT;
	color: #155709;
	transition: color 0.5s ease
}

#header {
	position: relative;
	top: -10px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	padding: 5px;
}

ul{
	list-style-type: none;
	position: fixed;
	margin: -10px;
}

.navbar {
	display: inline;
	font-family: Futura, Tahoma, sans-serif;
	color: #000000;
	padding: 5px;
	border-radius: 5px 5px;
	background-color: #00B3FF;
	transition: background-color 0.5s ease
}

.navbarActive {
	background-color: #81DAFF
}

.titleActive {
	color: #238C10
}

#navbar {
	position: fixed;
	top:10px;
	left:50%;
	margin-left:-254px;
}

a {
	color: #FFFFFF;
    text-decoration: none;
}
